<h1 class="py-4">All Journals</h1>

<% @journals.each do |journal| %>
    <p><%= journal.reference %></p>
<% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Reference</th>
      <th scope="col">Date</th>
      <th scope="col">Summary</th>
      <th scope="col">Amount</th>
      <th scope="col">Created at</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>@mdo</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@mdo</td>
      <td>@mdo</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@mdo</td>
      <td>@mdo</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>