body {
    margin: 0 !important;
}

.header {
    ul {
        li {
            border-right: 1px solid #ececec;
            &:last-child {
                border-right: 0;
            }
        }
    }
}